@tailwind base;
@tailwind components;
@tailwind utilities;


:root{
  --primary-green: #C6EBC5;
  --secondary-green: #114232;
  --light-gray: #F6F5F2;
}

.bg-primary-green{
  background-color: var(--primary-green);
}
.bg-secondary-green{
  background-color: var(--secondary-green);
}
.bg-light-gray{
  background-color: var(--light-gray);
}

.montserrat{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.Capture-Photo-Btn{
  padding: 10px;
  background-color: rgb(184, 182, 182);
  border-radius: 100%;
  width: 50px;
  height: 50px;
  border: solid black 1px;
}
.Video-Container, .Canva-Container, .WebCam-Container{
  height: 100% !important;
  width: 100% !important;
}